<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="style/main.css">
    <meta charset="utf-8">
    <title> Movies</title>
  </head>
  <body>
    <div class="top">
      <span id="head">Movie Mania</span><br>
      Search Your Movie here
    </div>
    <nav class="nav">
      <form class="" action="index.html" method="post">
        <label for="title">Title:</label>
        <input type="text" name="title" placeholder="title" required>
        <label for="from">From:</label>
        <input type="number" name="from" placeholder="year">
        <label for="to">To:</label>
        <input type="number" name="to" placeholder="year">
        <button type="submit" name="button" id="submit"> submit</button>
      </form>
    </nav>

    <div class="mainbody">
      <div class="container">
        Total Results Found 10
        <hr>
        <div class="movie">
          <img src="https://m.media-amazon.com/images/M/MV5BMTkwODcyOTU5Nl5BMl5BanBnXkFtZTgwMzc5NTIwMjI@._V1_SX300.jpg" alt="This is Text"><br>
          <span>Jab Tak Hai Jaan bshd bshs shshs bshss bshs bshs</span><br>
          <span>(Year) </span>
        </div>

        </div>

        <div class="clear"> </div>
      </div>
    </div>
    </body>
</html>
